<div style="display: flex">
  <!-- filter Section -->
  <!-- DEMOGRAPHICS -->
  <div class="demoGraphics">
    <select (change)="onItemSelected($event)">
      <option value="" selected>Select item</option>
      <option *ngFor="let item of items" [value]="item.key">
        {{ item.label }}
      </option>
    </select>
  </div>
  <app-site-finder-layers (layers)="layers($event)" [isSketch]="isSketch"></app-site-finder-layers>
</div>

<app-site-finder-esiri
  (sketchList)="onSketch($event)"
  (shapeChanged)="isShapeChanged($event)"
  [demographics]="demographics"
>
</app-site-finder-esiri>
